.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 30px;
}

.inputTodo {
  display: flex;
}

input {
  height: 40px;
  width: 200px;
}

button {
  height: 45px;
}

.tasks {
  height: 40px;
  width: 210px;
  border: 1px solid black;
}
